
/* section-nav-bar */

.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: rgb(18,48,38);
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #a0b1cd;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
    border: 0;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }

   
}

/* Footer Area */

.footer-area{
    padding: 40px 0px;
    background-color: rgb(18,48,38);
    color: #fff;
}
.footer-area a{
    text-decoration: none;
}
.footer-area .footer-heading{
    font-size: 24px;
    color: #fff;
}
.footer-area .footer-underline{
    height: 1px;
    width: 150px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 14px 0px;
    position: fixed;
    background-color: #262626;
}
.copyright-area p{
    margin-bottom: 0px;
    color: #fff;
}

/* paragraph class*/
 .paragraph-class
 {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
 }

 .p-border
 {
    border-right: 6px solid rgb(18,48,38);
 }

 @media only screen and (max-width: 600px) {
    .p-border{
       border-right: 0px;
    }

   
}

/*products Page-cards*/

.card-design
{
    width: 18rem;
    border:1px solid  rgb(18,48,38);
}

.list-color
{
    background-color: rgb(18,48,38);
    color: white;
    border: 0px;;
}
